<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Edit</title>
    <link rel="stylesheet" href="../../css/admin_list.css">
</head>
<body>
<div class="top-bar">
    <a href="#" class="button" id="add_btn">+</a>
    <h5>当前位置</h5>
    <div class="breadcrumbs"><span>项目管理</span> - <span>项目列表</span></div>
</div>
<div class="table">
    <table class="listing" cellpadding="0" cellspacing="0"><tbody>
    <!--列表数据-->
    </tbody></table>
    <div id="Pagination" class="pagination">
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/admin/project_list.js"></script>

</body>
</html>

