
<!DOCTYPE html>
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CN">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
    <title>ABOUT - 关于界曲 | VASTEXPO</title>

  <meta name="description" content="上海界曲展览设计工程有限公司，是国内极具创新实力的展示整合服务供应商，展览展示一级资质企业。主要向客户提供博物馆、规划馆、科技馆、廉政馆、产业馆等大型展馆及展览展示项目的展示策划与设计、展示施工与管理、展示运营与传播等全方位解决方案。">
  <meta name="keywords" content="展厅设计,展览展示,商业空间,世博会,国际展览,形象设计,主题公园设计,展台搭建,博物馆设计,博物馆建造,科技馆设计,规划馆设计,界曲,上海界曲,上海界曲展览设计工程有限公司,vastexpo,vastexpo">

  <meta name="MobileOptimized" content="320">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="robots" content="noarchive">

  <link rel="stylesheet" href="../css/fonts/icomoon/style.css" tppabs="http://vast-expo.com/home/css/fonts/icomoon/style.css">
  <link rel="stylesheet" href="../css/animate-element.css" tppabs="http://vast-expo.com/home/css/animate-element.css">
  <link rel="stylesheet" href="../css/flexslider.css" tppabs="http://vast-expo.com/home/css/flexslider.css">
  <link rel="stylesheet" href="../css/style.css" tppabs="http://vast-expo.com/home/css/style.css">
  <link rel="stylesheet" href="../css/news.css" tppabs="http://vast-expo.com/home/css/news.css">

  <!--[if lt IE 9]>
    <script src="../js/respond.min.js" tppabs="http://vast-expo.com/home/js/respond.min.js"></script>
  <![endif]-->

  <script src="../js/modernizr.custom.js" tppabs="http://vast-expo.com/home/js/modernizr.custom.js"></script>
  <script src="../js/jquery-1.9.1.min.js" tppabs="http://vast-expo.com/home/js/jquery-1.9.1.min.js"></script>
  <script src="../js/animate-elements.js" tppabs="http://vast-expo.com/home/js/animate-elements.js"></script>
  <script src="../js/jquery.flexslider-min.js" tppabs="http://vast-expo.com/home/js/jquery.flexslider-min.js"></script>
  <script src="../js/plugins-min.js" tppabs="http://vast-expo.com/home/js/plugins-min.js"></script>
  <script src="../js/site-min.js" tppabs="http://vast-expo.com/home/js/site-min.js"></script>

<!--  <link rel='canonical' href='http://vastexpo.com.cn/' />
<link rel='shortlink' href='http://vastexpo.com.cn/' />
-->
  </head>

<body>
  <header class="anim_emt t_to_b">
  <nav>
    <a class="menu_btn icon-menu"></a>
    <ul id="nav" class="trans">
      <li class="trans1 "><a href="/case.html" class="trans"> 项目案例</a> </li>

      <li class="trans2 "><a href="services/" class="trans"> 服务范围</a> </li>

      <li class="trans3 "><a href="about.html" class="trans"> 公司简介</a> </li>

      <li class="trans4 "><a href="news.html/" class="trans"> 企业新闻</a> </li>

      <li class="trans5 "><a href="liucheng/" class="trans"> 流程介绍</a> </li>

      <li class="trans6 "><a href="contact/" class="trans"> 联系我们</a> </li>

      <li class="trans7 "><a href="jobs/" class="trans"> 加入我们</a> </li>

      <li class="trans8 "><a href="EAVE/" class="trans">EAVE</a> </li>
    </ul>
  </nav>

    <a href="/" id="logo">
      <img src="../home/images/logo.png" class="trans" alt="logo">
      <h5 class="trans">HOME</h5>
    </a>
  
  <div class="title">
    <h4>  about</h4>
  </div>
  </header>

  <div class="loading_icon"></div>

  <section id="head" class="desktop_full mobile_mt50 proloader mscroll">

    <div class="full scrollbg anima_3d_top proloader_img" data-loadimg="images/head.jpg" style="background-image: url('images/head.jpg')">
    </div>

    <div class="btm_cont anima_3d_bottom anim_emt b_to_t">
      <div class="title wrap c_white">
        <h2>公司简介</h2>
        <h3>Company Introduction</h3>
        <hr class="title_hr">
      </div>

      <div class="flexslider info pmt0 wrap" data-direction=true>
        <ul class="slides clearfix">
          <li class="slide-item">
            <p>界定空间，诠释曲线之美<br>界曲服务过诸多政府项目及国内外知名品牌企业，也是众多企事业单位和大型博览会的指定服务供应商，迄今已成为业界极具影响力和代表性的企业。</p>
          </li>
          <li class="slide-item">
            <h4 class="c_red mb10">简介</h4>
            <p>几年来的持续发展，界曲集聚了国内外大量专业人才和不同领域的专家顾问团队，整合了海内外许多不同专业的优秀合作伙伴及战略联盟企业，融合了国际展示理念与本土文化特色，建立了完善的专业项目管理体系，从而进一步提升了自身专业的高端品牌形象。</p>
          </li>
          <li class="slide-item">
            <h4 class="c_red mb10">宗旨</h4>
            <p>秉持“完美施工、服务至上”的原则，界曲将在发展理念和服务实践上不断进行探索创新，帮助客户提升品牌及项目影响力，并为推动中国展示设计工程业的发展做出不懈努力！</p>
          </li>
          <li class="slide-item">
            <h4 class="c_red mb10">团队</h4>
            <p>界曲拥有一支技术力量先进，专业经验丰富的工程施工队伍，并与相应的承包商建立密切的伙伴合作关系。精通项目流程的专业项目人员，资深的专业设计师，熟练的专业技术工人，完善的专业制作工厂，严谨的专业质量管理系统，为客户提供全程专业服务的同时，也提供最可靠的质量保证。</p>
          </li>
          <li class="slide-item">
            <h4 class="c_red mb10">使命丨追求卓越</h4>
            <p>我们的使命及价值观在于为客户提供卓越的产品和服务，以不断的创新能力和持之以恒的进取心，和我们的客户一起携手共创卓越的未来。</p>
          </li>
          <li class="slide-item">
            <h4 class="c_red mb10">发展目标</h4>
            <p>卓越是我们发展的目标，追求卓越是实现目标的过程，是我们日常工作的驱动力和指南针，指引每个界曲的员工以"追求卓越"的精神完成每项工作，同时这种精神也激励着每个员工追求自我卓越，自我超越和自我实现。</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="icon-arrow-down3 down_arrow"></div>
  </section>

  <section id="founder" class="desktop_full mscroll">
    <div class="desktop_full lr_layout vertical_obj" style="background-color:#342c2a">
      <img src="images/founder.jpg" tppabs="http://vast-expo.com/about/images/founder.jpg" class="left_img anim_emt l_to_r" alt="">

      <div class="vertical_cont anima_3d_top">
        <div class="wrap">
          <div class="right_cont anim_emt b_to_t">
            <div class="title c_white anim_emt r_to_l">
              <h2>创始人 / 单喜慧</h2>
              <h3>Founder / Shan Xihui</h3>
              <hr class="full_hr bg_white">
            </div>

            <div class="flexslider info pmt0 c_white" data-direction=true>
              <ul class="slides clearfix">
                <li class="slide-item">
                  <p>单喜慧，中国知名室内设计师，2015年于上海创立界曲设计公司，他擅长用东方哲学思考解决问题，关注各类空间形态对人的影响，同时注重设计的商业化表现。单喜慧说：“希望在设计中融入丰富的文化表达，以打造可以令人思考的空间意境。”他一直坚信，中国拥有丰富的文化底蕴，在未来“中国设计”将充满无限可能！</p>
                </li>

                <li class="slide-item">
                  <p>沉淀后的释放：“设计的意义在于寻求人、建筑、自然之间相融与相生的智慧，这是我们设计文化的基石”，单喜慧先生在媒体访谈中这样强调，在设计中，界曲设计团队探寻与诠释的是当代本土设计，在现代化审美体现的同时留有传统余韵。出于对设计的热爱及对内心价值观的遵循，张海涛对每一件作品都苛求完美，擅长对细节的把控，而对此乐趣无穷。</p>
                </li>
                <li class="slide-item">
                  <p>智能空间缔造者：单喜慧强调空间功能性的体验，力求“打造智能空间”，设计中将全智能化系统融入，运用科技手段勾勒出全新的文化体现，带给人们绿色、便捷的空间享受。</p>
                </li>
                <li class="slide-item">
                  <p>光与影的结合：单喜慧认为，灯光设计在室内设计中起着决定性作用，能够强化空间层次感，这让界曲设计团队注重灯光设计的表现，以及对人文的思考，对科技的尝试，将光影与空间完美结合，在2014年举办的中国照明设计大赛中获得北京赛区综合类大奖更加彰显了界曲团队灯光运用的能力。</p>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="culture" class="desktop_full mscroll">
    <div class="full scrollbg pos_b anima_3d_top" style="background-image: url('images/culture.jpg')">
    </div>

    <div class="btm_cont anima_3d_bottom anim_emt b_to_t">
      <div class="title wrap c_white anim_emt r_to_l">
        <h2>企业文化</h2>
        <h3>Corporate Culture</h3>
        <hr class="title_hr">
      </div>

      <div class="info wrap">
        <ul class="list_text">
          <li>让设计充满新奇和创造力，同时也饱含着和谐、力量与深意。</li>
          <li>"适度" 是一种幸福的生活态度。</li>
          <li>设计哲学 "合适的设计"，设计中最难的环节往往并非创新，而是在精确适配下的创造。</li>
          <li>打造令人灵感迸发及纵情享受的情绪空间。</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="partners" class="desktop_full mscroll">
    <div class="full hwrap vertical_obj anima_3d_top">
      <div class="vertical_cont anim_emt b_to_t">
        <div class="wrap">
          <div class="title anim_emt r_to_l">
            <h2>合作伙伴</h2>
            <h3>Our Partners</h3>
            <hr class="full_hr">
          </div>

          <ul class="list_text mb20">
            <li>我们带着诚意而来，也因此得到了回报。</li>
            <li>好的作品必须实现设计师、客户、功能、材料、技术、位置、环境和预算等各方面关系的平衡。</li>
            <li>在建造过程我们愿意为客户精准的达成目标，而我们的目标是：创造美、自由应用、智能建造、原创性和可持续性。</li>
            <li>界曲将每一个项目都作为一次自我审判的机会，将设计理念摆脱原有传统思维模式的束缚，让客户的品牌特色与气质得到极致渲染。</li>
            <li>心中有使用者才有设计</li>
          </ul>

          <h4 class="mb5">合作客户</h4>
          <span>BMW-宝马汽车 / UYONG-优扬集团 / VASNU-银海万向集团 / DHONG-德鸿集团 / 北京汇佳教育集团 / 北京现代汽车 / 春和集团 / Itrade贸易公司 / 爱因森教育投资集团 / 环球租赁股份公司 / 海特电子集团 / COCOCHINA-触控科技 / 赢家伟业商务中心 / 国家气象局 / 远洋地产 / 国泰置地 / 奥威集团 / 新沃资本 / 张家口商业银行</span>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(document).ready(function () {
      down_arrow.init();
      slider.init();
      proloader.init();
      if ($("html").hasClass("no-touch")) mouseScroll.init();
      $('#nav>li.about a').addClass('active');
    })
  </script>

  <footer class="full vertical_obj bg_white mscroll">
    <div class="vertical_cont contact anima_3d_top">
      <div class="wrap">
        <h2 class="c_red">GET IN TOUCH</h2>
        <ul class="clearfix">
          <li class="add">
            <a href="javascript:if(confirm('http://dwz.cn/2Tt54u  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://dwz.cn/2Tt54u'" tppabs="http://dwz.cn/2Tt54u" target="_blank" class="trans">
              <span class="icon icon-location c_red"></span>
              <h5 class="trans"><font face="微软雅黑">上海市行镇叶庄公路135号2幢349室</font></h5>
            </a>
          </li>
          <li class="tel">
            <a href="tel:86-21-57447292" target="_blank" class="trans">
              <span class="icon icon-phone c_red"></span>
              <h5 class="trans"><font face="微软雅黑">86-21-57447292</font></h5>
            </a>
          </li>
          <li class="mail">
            <a href="mailto:B@VASTEXPO.COM.CN" target="_blank" class="trans">
              <span class="icon icon-mail c_red"></span>
              <h5 class="trans"><font face="微软雅黑">B@VASTEXPO.COM.CN</font></h5>
            </a>
          </li>
          <li class="qq">
            <a href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=80623275&site=qq&menu=yes  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://wpa.qq.com/msgrd?v=3&uin=80623275&site=qq&menu=yes'" tppabs="http://wpa.qq.com/msgrd?v=3&uin=80623275&site=qq&menu=yes" target="_blank" class="trans">
              <span class="icon icon-qq c_red"></span>
              <h5 class="trans">在线咨询</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="btm bg_red">
      <ul id="botm_nav" class="wrap">
        <li><a href="javascript:if(confirm('http://vast-expo.com/projects  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://vast-expo.com/projects'" tppabs="http://vast-expo.com/projects" class="trans">案例<br>PROJECTS</a>
        </li>
        <li><a href="javascript:if(confirm('http://vast-expo.com/services  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://vast-expo.com/services'" tppabs="http://vast-expo.com/services" class="trans">服务<br>SERVICES</a>
        </li>
        <li><a href="javascript:if(confirm('http://vast-expo.com/about  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://vast-expo.com/about'" tppabs="http://vast-expo.com/about" class="trans">关于我们<br>ABOUT US</a>
        </li>
        <li><a href="javascript:if(confirm('http://vast-expo.com/join-us  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://vast-expo.com/join-us'" tppabs="http://vast-expo.com/join-us" class="trans">加入我们<br>JOIN US</a>
        </li>
        <li><a href="javascript:if(confirm('http://vast-expo.com/news  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://vast-expo.com/news'" tppabs="http://vast-expo.com/news" class="trans">新闻<br>NEWS</a>
        </li>
      </ul>

      <ul class="icp wrap">
        <li>
          <span><font face="微软雅黑">&copy; 2016 VASTEXPO</font></span><font face="微软雅黑">
			</font>
        </li>
        <li>
          <a href="javascript:if(confirm('http://www.miibeian.gov.cn/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://www.miibeian.gov.cn/'" tppabs="http://www.miibeian.gov.cn/" target="_blank">
			<font face="微软雅黑">沪ICP备16008753号-1</font></a><font face="微软雅黑">
			</font>
        </li>
        <li>
          <a href="javascript:if(confirm('http://lucuz.cn/  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://lucuz.cn/'" tppabs="http://lucuz.cn/" target="_blank"><font face="微软雅黑">SITE BY: LUCUZ</font></a><font face="微软雅黑">
			</font>
        </li>
      </ul>

      <div class="icons bg_red">
        <a href="javascript:if(confirm('http://weibo.com/u/+地址  \n\n该文件未被 Teleport Pro 下载，因为 它位于起始地址以设置的边界以外的域或路径中。  \n\n你想要从服务器打开它吗?'))window.location='http://weibo.com/u/+地址'" tppabs="http://weibo.com/u/+地址" target="_blank" class="icon-weibo trans"></a>
        <a href="javascript:" class="jsbtn icon-iconfont-qrcode trans" data-target="#qr-site"></a>
        <a href="javascript:" class="jsbtn icon-wechat trans" data-target="#qr-wechat"></a>

        <div id="qr-site" class="qrcode trans">
          <img src="../home/images/qrcode-site.png" tppabs="http://vast-expo.com/home/images/qrcode-site.png" alt="">
        </div>

        <div id="qr-wechat" class="qrcode trans">
          <img src="../home/images/qrcode-wechat.png" tppabs="http://vast-expo.com/home/images/qrcode-wechat.png" alt="">
        </div>
      </div>
    </div>
  </footer>

  <div id="bg_mask" class="pop_bg"></div>
</body>
</html>