<!DOCTYPE html>
<!--<html lang="en">-->
<html style=""
      class=" js no-touch backgroundsize borderradius boxshadow cssanimations csstransforms csstransforms3d csstransitions"
      lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>大连·银海万向大厦 | VASTEXPO</title>

    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="robots" content="noarchive">

    <link rel="stylesheet" href="../css/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../css/animate-element.css">
    <link rel="stylesheet" href="../css/flexslider.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/news.css">

    <!--[if lt IE 9]>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

    <script src="../js/modernizr.custom.js"></script>
    <script src="../js/jquery-1.9.1.min.js"></script>
    <script src="../js/animate-elements.js"></script>
    <script src="../js/jquery.flexslider-min.js"></script>
    <script src="../js/plugins-min.js"></script>
    <script src="../js/site-min.js"></script>

</head>

<body class="">
<header style="width: 100%;" class="anim_emt t_to_b animation-triggered start-animation">
    <nav>
        <a class="menu_btn icon-menu"></a>
        <ul id="nav" class="trans">
            <li class="trans1 "><a href="/case.html" class="trans"> 项目案例</a> </li>

            <li class="trans2 "><a href="services/" class="trans"> 服务范围</a> </li>

            <li class="trans3 "><a href="about/" class="trans"> 公司简介</a> </li>

            <li class="trans4 "><a href="news/" class="trans"> 企业新闻</a> </li>

            <li class="trans5 "><a href="liucheng/" class="trans"> 流程介绍</a> </li>

            <li class="trans6 "><a href="contact/" class="trans"> 联系我们</a> </li>

            <li class="trans7 "><a href="jobs/" class="trans"> 加入我们</a> </li>

            <li class="trans8 "><a href="EAVE/" class="trans">EAVE</a> </li>
        </ul>
    </nav>

    <a href="/" id="logo">
        <img src="../home/images/logo.png" class="trans" alt="logo">
        <h5 class="trans">HOME</h5>
    </a>

    <div class="title">
        <h4><%= res_data.project.cnName %></h4>
    </div>

    <div class="right-nav scroll-nav">
        <div class="share_btns">
            <a class="btn_share icon_btn icon-share2 trans"></a>
            <!-- bShare Button -->
            <div class="btns trans">
                <a class="icon_btn icon-weibo trans"
                   onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;"></a>
                <a class="icon_btn icon-qq trans" onclick="javascript:bShare.share(event,'qzone',0);return false;"></a>
                <a class="icon_btn icon-wechat trans"
                   onclick="javascript:bShare.share(event,'weixin',0);return false;"></a>
            </div>
        </div>
        <ul class="nav nav-tabs hide_on_mobile">
            <li class="active"><a href="#head" class="trans">项目信息</a></li>
            <li class=""><a href="#photos" class="trans">图集</a></li>
        </ul>
    </div>
</header>

<section style="opacity: 1; visibility: visible;" id="head" class="desktop_full mobile_mt50 proloader mscroll">

    <div class="full scrollbg anima_3d_top proloader_img" data-loadimg="images/1.jpeg"
         style="background-image: url(<%= res_data.imgList[0].url %>)">
        <div class="imgbg_layer"></div>
        <div class="project_title wrap c_white anim_emt b_to_t animation-triggered start-animation">
            <h1><%= res_data.project.title %></h1>
            <h3><%= res_data.project.introduction %></h3>
        </div>
    </div>

    <div class="btm_cont mini_title anima_3d_bottom anim_emt b_to_t animation-triggered start-animation">
        <div class="title wrap c_white">
            <h3>Project Info</h3>
            <hr class="title_hr">
        </div>

        <div class="info wrap">
            <ul class="project_info clearfix">
                <% var count = 0;var len = res_data.infoList.length > 3 ? 3 : res_data.infoList.length; for(var i = 0; i < len; i++){ %>
                <li>
                    <% var len2 = parseInt(res_data.infoList.length / 3) + parseInt(res_data.infoList.length % 3 / (i+1)); %>
                    <ul><% if( i > 0 && len >= 3){ count += parseInt(res_data.infoList.length / 3) + parseInt(res_data.infoList.length % 3 / i); } %>
                        <% if(len < 3) { count = i } %>
                        <% for(var j = 0; j < len2; j++ ){ %>
                        <% if( len >= 3 || j < 1 ){ %>
                        <li>
                            <h5><%= res_data.infoList[j+count].title %></h5>
                            <p><%= res_data.infoList[j+count].content %></p>
                        </li>
                        <% } %>
                        <% } %>

                    </ul>
                </li>
                <% } %>

            </ul>
        </div>
    </div>

    <div style="display: none;" class="icon-arrow-down3 down_arrow"></div>
</section>
<% if( res_data.project.description ){ %>
<section id="design" class="desktop_full mscroll">
    <div class="full scrollbg pos_b anima_3d_top" style="background-image: url(<%= res_data.imgList[1].url %>)">
        <div class="imgbg_layer"></div>
    </div>

    <div class="btm_cont anima_3d_bottom anim_emt b_to_t">
        <div class="title wrap c_white anim_emt r_to_l">
            <h2>设计阐述</h2>
            <h3>Description of Design</h3>
            <hr class="title_hr">
        </div>

        <div class="info wrap">
            <% var arr = res_data.project.description.split('\n'); %>
            <% arr.forEach(function( des ){ %>
            <p><%= des %></p>
            <% }) %>
        </div>
    </div>
</section>
<% } %>

<section id="photos" class="full mscroll">
    <div class="flexslider control_center anima_3d_top">


        <a class="direction_nav prev_btn">
            <div class="icon-arrow-left3 trans"></div>
        </a>
        <a class="direction_nav next_btn">
            <div class="icon-arrow-right3 trans"></div>
        </a>
        <!--<div style="overflow: hidden; position: relative; height: 466px;" class="flex-viewport">-->
            <ul style="width: 1000%; margin-left: 0px;" class="slides clearfix">
                <% res_data.imgList.forEach(function(img,index){ %>
                <li style="width: 1648px; float: left; display: block;" class="slide-item flex-active-slide"
                    data-img=<%= img.url %> >
                <% }) %>
            </ul>
        <!--</div>-->

    </div>
</section>

<script>
    $(document).ready(function () {
        down_arrow.init();
        slider.init();
        proloader.init();
        $(window).resize(function () {
            slider.resize();
        });
        $('body').scrollspy({
            target: '.scroll-nav'
        });
        if ($("html").hasClass("no-touch")) mouseScroll.init();
    })
</script>

<footer class="full vertical_obj bg_white mscroll">
    <div class="vertical_cont contact anima_3d_top">
        <div class="wrap">
            <h2 class="c_red">GET IN TOUCH</h2>
            <ul class="clearfix">
                <li class="add">
                    <a href="http://dwz.cn/2Tt54u" target="_blank" class="trans">
                        <span class="icon icon-location c_red"></span>
                        <h5 class="trans"><font face="微软雅黑">上海市行镇叶庄公路135号2幢349室</font></h5>
                    </a>
                </li>
                <li class="tel">
                    <a href="tel:86-21-57447292" target="_blank" class="trans">
                        <span class="icon icon-phone c_red"></span>
                        <h5 class="trans"><font face="微软雅黑">86-21-57447292</font></h5>
                    </a>
                </li>
                <li class="mail">
                    <a href="mailto:B@VASTEXPO.COM.CN" target="_blank" class="trans">
                        <span class="icon icon-mail c_red"></span>
                        <h5 class="trans"><font face="微软雅黑">B@VASTEXPO.COM.CN</font></h5>
                    </a>
                </li>
                <li class="qq">
                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=80623275&amp;site=qq&amp;menu=yes" target="_blank"
                       class="trans">
                        <span class="icon icon-qq c_red"></span>
                        <h5 class="trans">在线咨询</h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="btm bg_red">
        <ul id="botm_nav" class="wrap">
            <li><a href="http://vast-expo.com/projects" class="trans">案例<br>PROJECTS</a>
            </li>
            <li><a href="http://vast-expo.com/services" class="trans">服务<br>SERVICES</a>
            </li>
            <li><a href="http://vast-expo.com/about" class="trans">关于我们<br>ABOUT US</a>
            </li>
            <li><a href="http://vast-expo.com/join-us" class="trans">加入我们<br>JOIN US</a>
            </li>
            <li><a href="http://vast-expo.com/news" class="trans">新闻<br>NEWS</a>
            </li>
        </ul>

        <ul class="icp wrap">
            <li>
                <span><font face="微软雅黑">© 2016 VASTEXPO</font></span><font face="微软雅黑">
            </font>
            </li>
            <li>
                <a href="http://www.miibeian.gov.cn" target="_blank">
                    <font face="微软雅黑">沪ICP备16008753号-1</font></a><font face="微软雅黑">
            </font>
            </li>
            <li>
                <a href="http://lucuz.cn" target="_blank"><font face="微软雅黑">SITE BY: LUCUZ</font></a><font face="微软雅黑">
            </font>
            </li>
        </ul>

        <div class="icons bg_red">
            <a href="http://weibo.com/u/+地址" target="_blank" class="icon-weibo trans"></a>
            <a href="javascript:" class="jsbtn icon-iconfont-qrcode trans" data-target="#qr-site"></a>
            <a href="javascript:" class="jsbtn icon-wechat trans" data-target="#qr-wechat"></a>

            <div id="qr-site" class="qrcode trans">
                <img ondragstart="return false" oncontextmenu="return false" src="../../home/images/qrcode-site.png"
                     alt="">
            </div>

            <div id="qr-wechat" class="qrcode trans">
                <img ondragstart="return false" oncontextmenu="return false" src="../../home/images/qrcode-wechat.png"
                     alt="">
            </div>
        </div>
    </div>
</footer>

<div style="opacity: 0; display: none;" id="bg_mask" class="pop_bg"></div>


</body>
</html>